<!DOCTYPE html>
<!--
	# 
	# MODULE DESCRIPTION:
	# esempio_04.html
	# 
	# 
	# AUTHORS:
	# Author Name		Raffaele Ficcadenti
	# Author email		raffaele.ficcadenti@gmail.com
	# 
	# 
	# HISTORY:
	# 02-04-2017    Ficcadenti Raffaele         
	# -
-->

<html lang="en" ng-app="contactsMgr" ng-controller="AppCtl">s

	<head>
		<meta charset="UTF-8">
		<title>sorgente: esempio_04.html</title>
		<!-- Sezione per i CSS -->
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/myApp.css">

		<!-- Sezione per i JS -->
		<script type="application/x-javascript" src="assets/js/jquery.min.js"></script>
		<script type="application/x-javascript" src="assets/js/bootstrap.min.js"></script>
		<script type="application/x-javascript" src="assets/js/angular.min.js"></script>

		<!-- Sezione per i controller angular -->
		<script type="application/x-javascript" src="assets/js/controller_es04.js"></script>
	</head>


	<body>

		
	    <div ng-cloak class="container">

			<div class="page-header">
			    <p>
					<i>
						"Angular è quello che HTML avrebbe dovuto essere se fosse stato progettato per sviluppare applicazioni."<br>
					</i>
					<br>
					<strong>Documentazione ufficiale</strong>
				</p>
			</div>

	       	<div class="jumbotron">
	       		<h1>{{config.appname}} </h1>
			</div>

			<h3>Currency</h3>
			{{1234567 | currency}}
			<br>

			<h3>Currency</h3>
			{{1234567 | currency:'euro'}}
			<br>

			<h3>Number</h3>
			{{1234567.245 | number:2}}
			<br>

			<h3>lowercase</h3>
			{{'Raffaele' | lowercase}}
			<br>

			<h3>uppercase</h3>
			{{'Raffaele' | uppercase}}
			<br>

			<h3>limitTo</h3>
			{{'Raffaele' | limitTo:5}}
			<br>

			<h3>date</h3>
			<label>{{743634345436 | date:'dd/MM/yyyy'}}</label>
			<br>
 
 			<h3>Filter</h3>
			<input type="text" ng-model="search">
			<ul>
                <li ng-cloak ng-repeat="missione in missioni | filter:{'nome': search} | orderBy:'lancio':false ">
                    {{missione.nome}} - {{missione.lancio | date:'medium' }}
                </li>
            </ul>

			<h3>JSON</h3>
            <pre>{{missioni | json : 6}}</pre>

            <h3>Truncate</h3>
            {{'Lorem ipsum dolor sit amet' | truncate:15}}

		</div>



		<footer class="navbar-fixed-bottom navbar-inverse">
            <div class="container">
                <nav class="nav navbar-nav">
                    <h1 class="color_white">Info</h1>
                    <ul>
                        <li><a href="http://es6-features.org/#Constants" target="_blank">ECMAScript 6</a></li>
                        <li><a href="https://www.w3schools.com/angular/default.asp" target="_blank">w3schools<span class="dotcom">.com</span></a></li>
                        
                    </ul>
                </nav>
            </div>
		</footer>

	</body>

</hmtl>